.r {
 background-color: red; 
}

.b {
    background-color: white;
}

.v {
    background-color: green;
}

.g {
    background-color: grey;
}

.c {
    background-color: brown;
}

.a {
    background-color: blue;
}

.vi {
    background-color: blueviolet;
}

.ro {
    background-color: pink;
}

.am {
    background-color: yellow;
}

.t {
    background-color: aqua;
}

.n {
    background-color: orange;
}

.p {
    background-color: darkred;
}

.ne {
    background-color: black;
}